
.toggle-wrapper {
  padding: 2rem;
  display: flex;
  flex-direction: row-reverse;
}

.switch {
  width: 4rem;
  height: 2rem;
  background: #fa9660;
  border-radius: 2rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: background 0.3s;
}


.switch::after {
  content: "";
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.3s;
}

input:checked + .switch {
  background: #333;
}

input:checked + .switch::after {
  transform: translateX(2rem);
}

body.dark {
  background-color: #121212;
  color: #ffffff;
}